.circle-container{
  margin:0 auto;
  width: 100%;
  height: 100vh;
  position: relative;
}

.circle-container svg{
  width: 100%;
}

.start-title{
  font-size: 7vw;
  position: absolute;
  bottom: 30%;
  left: 10%;
}
.start-subtitle{

}
.circle-container circle{
  mix-blend-mode: multiply;
}
